/* font Roboto and Rosario */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rosario&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --mainBlackColor: #000;
  --mainWhiteColor: #fff;
  --mainBlueColor: #3498db;
  --mainPinkColor: #f2d2bd;
}
